header {
	display:block
}

body {
	background-image: url("images/bg.gif");
	border:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#72716f;
	line-height:20px;
	min-width:980px
}

a {
	color:#72716f;
	text-decoration:underline;
	outline:none
}
a:hover {
	text-decoration:none
}
.h1main {
	padding:40px 0 0 38px;
	float:left
}
.h2main {
	font-size:21px;
	line-height:1.2em;
	padding:6px 0 15px 0;
	color:#fff;
	letter-spacing:-1px

}
.h2img {
	margin-right:15px;
	float:left
}
p {
	padding-bottom:0px
}

header {
	height:116px
}
.logo{
	
	color: white;
	

}
.department {
	float:right;
	padding:none;
	color:#72716f;
	text-align:right
}
.department span {
	color:#fff
}
#menu {
	background:#fff;
	padding:10px 2px;
	height:39px;
	margin-bottom:10px
}
#menu > li {
	border-right:1px solid #f2f2f2;
	float:left
}
#menu .last {
	border:0
}
#menu > li > a {
	display:block;
	padding:0 62px;
	font-size:16px;
	color:#12110f;
	text-decoration:none;
	line-height:39px
}
#menu > li > a:hover, #menu > .active > a {
	color:#f3b21d
}



.box {
	background:#12110f;
	box-shadow:0 0 6px #000;
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
	position:relative
}

/*height and width for home logo*/

.pad{
	width:100%;
	height:600px;
	
}
.headericon{
	float:center;
	font-family:cursive;

}

.paraicon{
	float:left;
	 padding-right: 0px;
	 height:200px;
	 width:200px;
}
.h1main2{
	float:center;
	color:#FFFFFF;
}

hr{
	color:#FFFFFF;
	height:20px
	background-color:#FFFFFF;
}

.pmain{
	float:left;

	
}
#pmain2{
	font-size: 24px;
	font-family: sans-serif;
	color:white;
	justify-content: left;
}
.ceoimg{
	border:1px solid grey;
  border-radius: 50%;
  width:200px;
  padding:0px 0px 0px 0px;
}
.text{
	font-size:14px;
}
.bgdiv{
	align-content: center;
	border:1px solid grey;
	background-color:white;
	height:150px;
}

.fillblack{
height: 20px;
width: 100%;
background-image: url("images/bg.gif");
}

.text1{
	border:1px solid grey;
	background-color:white;
	height:200px;
	width:100%;

}
.footer0{
	border:1px solid grey;
	background-color:white;
	height:1250px;
	width:100%;

}
.footer1{
	width:40%;
	height:560px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 20px;
}
.footer2{
    padding-top:20px;
    width:55%;
	height:560px;
	padding-bottom: 20px;

}
.footer3{
	width:45%;
	height:600px;
	padding-right: 20px;
	padding-left: 10px;
}
.footer4{
	width:50%;
	height:600px;
	padding-top:10px;
	
}
footer{
	width:100%;
	height:150px;
	background-color:black;
}
#hmain3{
	width:100%;
}
.head1{
	font-size:40px;

}
.footer5{
	float:right;

}

