header {
	display:block
}

body {
	background-image: url("images/bg.gif");
	border:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#72716f;
	line-height:20px;
	min-width:980px
}

a {
	color:#72716f;
	text-decoration:underline;
	outline:none
}
a:hover {
	text-decoration:none
}
.h1main {
	padding:40px 0 0 38px;
	float:left
}
.h2main {
	font-size:21px;
	line-height:1.2em;
	padding:6px 0 15px 0;
	color:#fff;
	letter-spacing:-1px
}
.h2img {
	margin-right:15px;
	float:left
}
p {
	padding-bottom:0px
}

header {
	height:116px
}
.logo{
	
	color: white;
	

}
.department {
	float:right;
	padding:37px 35px 0 0;
	color:#72716f;
	text-align:right
}
.department span {
	color:#fff
}
#menu {
	background:#fff;
	padding:10px 2px;
	height:39px;
	margin-bottom:10px
}
#menu > li {
	border-right:1px solid #f2f2f2;
	float:left
}
#menu .last {
	border:0
}
#menu > li > a {
	display:block;
	padding:0 62px;
	font-size:16px;
	color:#12110f;
	text-decoration:none;
	line-height:39px
}
#menu > li > a:hover, #menu > .active > a {
	color:#f3b21d
}
#menu > li > a:hover, #menu > .active > a {
	color:#f3b21d
}

.box {
	background:#12110f;
	box-shadow:0 0 6px #000;
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
	position:relative
}

/*height and width for home logo*/

.pad{
	width:512px;
	height:300px;
	padding:10px;
}
.headericon{
	float:center;
	font-family:cursive;

}

.paraicon{
	float:left;
	 padding-right: 0px;
	 height:200px;
	 width:200px;
}
.h1main2{
	float:center;
	color:#FFFFFF;
}

hr{
	color:#FFFFFF;
	height:20px
	background-color:#FFFFFF;
	margin:0px; 
}

.pmain{
	float:left;
	border: 5px solid white;
	margin: 5px 5px 5px 20px;
	height:200px;
	width:200px;
}
#pmain2{
	font-size: 24px;
	font-family: sans-serif;
	color:white;
	justify-content: left;
}